* {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
}
header {
  background: rgb(116 81 235);
}
.green {
  background: rgb(11 237 163);
  padding: 0px 5px 0px 5px;
}
.green1 {
  background: rgb(11 237 163);
  font-size: 45px;
  padding: 0px 5px 0px 5px;
}
header {
  padding: 70px 0px 70px 0px !important;
  color: white;
}
main {
  margin: 90px 0px 90px 0px !important;
  color: hsl(209deg 100% 20%);
}
footer {
  background: rgb(0 54 104);
  padding: 60px 0px 60px 90px !important;
  color: white;
  margin-bottom: 150px !important;
}
.logo {
  font-size: 250px;
  font-weight: bold;
}
.compt {
  font-weight: 900;
  font-size: 45px;
  font-weight: bold;
}
.photo {
  width: 400px;
  border-radius: 50%;
  box-shadow: 2px 2px 6px black;
}
.twiter {
  width: 7%;
}
.git {
  width: 7%;
  margin: 0px 13px 0px 13px;
}
.link {
  width: 7%;
}
